/* HEADER */
.header {
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}
.brand-name {
  margin-left: 0.9rem;
  font-size: 1.3rem;
  font-weight: 600;
}
/* HEADER */

/* Description */
.description-form {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.description {
  max-width: 500px;
  text-align: center;
}
.manage {
  font-size: 1.5rem;
  font-weight: 500;
}
.logistics {
  font-size: 0.875rem;
  margin-top: 1.5rem;
  font-weight: 600;
  opacity: 0.4;
}
.button {
  outline: none;
  border: none;
  padding: 0.7rem;
  width: 120px;
  background: #053582;
  color: #ffffff;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
}
.description button {
  margin-top: 2rem;
}
/* Description */

/* Form */
.form-wrapper {
  width: 480px;
  height: 510px;
  border-radius: 30px;
  padding: 2.5rem;
  background: #ffffff;
  box-shadow: 3px -5px 40px rgba(205, 205, 212, 0.1);
}
.progress {
  width: 400px;
  color: #053582;
}
.form-wrapper h4 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 36px;
  color: #393939;
}
.form-wrapper p {
  margin-bottom: 0.9rem;
  color: #404040;
  font-size: 0.9rem;
}
.form-field {
  display: grid;
  gap: 0.6rem;
}
.span-input {
  grid-column: span 2;
}
.agree p {
  color: #252525;
  font-size: 0.76rem;
  letter-spacing: 0.003em;
  margin-top: 1rem;
}
.account {
  text-align: right;
  color: #696974;
}
button.btn-register {
  margin-left: 3.5rem;
}
/* Form */

@media screen and (max-width: 1024px) {
  .description-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .form-wrapper {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    height: 560px;
  }
  .span-input {
    grid-column: span 1;
  }
}
@media screen and (max-width: 550px) {
  .logistics {
    font-size: 1rem;
    padding: 1.2rem;
  }
  .form-wrapper {
    width: 420px;
    height: 570px;
  }
  .progress {
    width: 335px;
  }
  .account span {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 411px) and (max-width: 414px) {
  .manage {
    padding: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .form-wrapper {
    width: 350px;
  }
  .progress {
    width: 270px;
  }
  .button {
    border: none;
    padding: 0.7rem;
    width: 100px;
    font-size: 0.8rem;
  }
  .agree p {
    font-size: 0.4rem;
  }
  .form-wrapper h4 {
    font-size: 0.9rem;
  }
  .form-wrapper p {
    font-size: 0.7rem;
  }
  .account span {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 380px) {
  .form-wrapper {
    width: 330px;
  }
  .progress {
    width: 250px;
  }
}
@media screen and (max-width: 280px){
  .form-wrapper {
    width: 290px;
    height: 600px;
  }
  .progress {
    width: 210px;
  }
}